In [1]:
import warnings
warnings.filterwarnings(action="ignore")

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('combined_data.csv')
df.head()

,Product Name,Rating,Rating Count,Information,Price,href,5_star,4_star,3_star,2_star,...,Display_Negative_Score,Display_Comments,Design_Overall_Rating,Design_Positive_Score,Design_Negative_Score,Design_Comments,Performance_Overall_Rating,Performance_Positive_Score,Performance_Negative_Score,Performance_Comments
0,"Apple iPhone 15 (Black, 128 GB)",4.6,"1,39,977 Ratings & 4,510 Reviews","['128 GB ROM', '15.49 cm (6.1 inch) Super Reti...","₹57,999",https://www.flipkart.com/apple-iphone-15-black...,"1,11,018","16,956","3,770","1,923",...,3%,['...Battery - Better then other iphones 5/5\n...,4.6,96%,4%,['N/A'],4.6,96%,4%,"['...Osm performance', ""...The overall device ..."
1,"Apple iPhone 15 (Pink, 128 GB)",4.6,"1,39,977 Ratings & 4,510 Reviews","['128 GB ROM', '15.49 cm (6.1 inch) Super Reti...","₹57,999",https://www.flipkart.com/apple-iphone-15-pink-...,"1,11,018","16,956","3,770","1,923",...,3%,['...Battery - Better then other iphones 5/5\n...,4.6,96%,4%,['N/A'],4.6,96%,4%,"['...Osm performance', ""...The overall device ..."
2,"Apple iPhone 15 (Green, 128 GB)",4.6,"1,39,977 Ratings & 4,510 Reviews","['128 GB ROM', '15.49 cm (6.1 inch) Super Reti...","₹57,999",https://www.flipkart.com/apple-iphone-15-green...,"1,11,018","16,956","3,770","1,923",...,3%,['...Battery - Better then other iphones 5/5\n...,4.6,96%,4%,['N/A'],4.6,96%,4%,"['...Osm performance', ""...The overall device ..."
3,"Apple iPhone 15 (Blue, 128 GB)",4.6,"1,39,977 Ratings & 4,510 Reviews","['128 GB ROM', '15.49 cm (6.1 inch) Super Reti...","₹58,249",https://www.flipkart.com/apple-iphone-15-blue-...,"1,11,018","16,956","3,770","1,923",...,3%,['...Battery - Better then other iphones 5/5\n...,4.6,96%,4%,['N/A'],4.6,96%,4%,"['...Osm performance', ""...The overall device ..."
4,"Apple iPhone 15 Plus (Blue, 128 GB)",4.6,"21,881 Ratings & 1,151 Reviews","['128 GB ROM', '17.02 cm (6.7 inch) Super Reti...","₹66,999",https://www.flipkart.com/apple-iphone-15-plus-...,"17,326","2,833",544,261,...,3%,['...seamless multitasking and app performance...,4.6,97%,3%,['N/A'],Error,Error,Error,Error

In [4]:
df.shape

(4877, 37)

In [5]:
df.columns

Index(['Product Name', 'Rating', 'Rating Count', 'Information', 'Price',
       'href', '5_star', '4_star', '3_star', '2_star', '1_star', 'Camera_href',
       'Battery_href', 'Display_href', 'Design_href', 'overall_href',
       'performance_href', 'Camera_Overall_Rating', 'Camera_Positive_Score',
       'Camera_Negative_Score', 'Camera_Comments', 'Battery_Overall_Rating',
       'Battery_Positive_Score', 'Battery_Negative_Score', 'Battery_Comments',
       'Display_Overall_Rating', 'Display_Positive_Score',
       'Display_Negative_Score', 'Display_Comments', 'Design_Overall_Rating',
       'Design_Positive_Score', 'Design_Negative_Score', 'Design_Comments',
       'Performance_Overall_Rating', 'Performance_Positive_Score',
       'Performance_Negative_Score', 'Performance_Comments'],
      dtype='object')

In [6]:
df = df[['Product Name','Information','Camera_Comments','Battery_Comments','Display_Comments','Design_Comments','Performance_Comments']]
df.head(1)

,Product Name,Information,Camera_Comments,Battery_Comments,Display_Comments,Design_Comments,Performance_Comments
0,"Apple iPhone 15 (Black, 128 GB)","['128 GB ROM', '15.49 cm (6.1 inch) Super Reti...","['...The camera quality is exceptional, captur...",Error,['...Battery - Better then other iphones 5/5\n...,['N/A'],"['...Osm performance', ""...The overall device ..."

In [7]:
review_columns = ['Camera_Comments', 'Battery_Comments', 'Display_Comments', 'Design_Comments', 'Performance_Comments']
df['All_Reviews'] = df[review_columns].apply(lambda x: ' '.join(x.dropna().astype(str)), axis=1)
df = df[["Product Name", "All_Reviews"]]
df.tail(1)

                       Product Name All_Reviews
4876  vivo U20 (Blaze Blue, 128 GB)

In [8]:
df.shape

(4877, 2)

In [9]:
df.tail(5)

,Product Name,All_Reviews
4872,"vivo X60 Pro (Shimmer Blue, 256 GB)","Error ['...1) battery drains so fast, however ..."
4873,"vivo Y11 (Mineral Blue, 32 GB)",['...for youngsters.\nits good for elder peopl...
4874,"vivo V20 SE (Aquamarine Green, 128 GB)","Error ['...Battery back is not good', '...Very..."
4875,"vivo V20 SE (Gravity Black, 128 GB)","Error ['...Battery back is not good', '...Very..."
4876,"vivo U20 (Blaze Blue, 128 GB)",

In [10]:
df['All_Reviews'].isna().sum()

0

In [11]:
import re
import string
df["All_Reviews"] = df["All_Reviews"].str.lower()
def remove_html_tag(text):
    pattern = re.compile(r'<.*?>')
    return pattern.sub('', text)
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub('', text)
def remove_newline(text):
    return text.replace('\n', ' ')
def remove_white_space(text):
    return re.sub(r'\s+', ' ', text)
def remove_punc(text):
    exclude = string.punctuation
    return text.translate(str.maketrans('', '', exclude))
def remove_emoji(text):
    emoji_pattern = re.compile(
        "["  
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # Chinese characters
        u"\U00002702-\U000027B0"  # Miscellaneous symbols
        u"\U000024C2-\U0001F251"  # Enclosed characters
        u"\U00010000-\U0010FFFF"  # Supplementary characters
        "]+", flags=re.UNICODE)
    
    return emoji_pattern.sub(r'', text)    


df["All_Reviews"] = df["All_Reviews"].apply(remove_html_tag) 
df["All_Reviews"] = df["All_Reviews"].apply(remove_newline)
df["All_Reviews"] = df["All_Reviews"].apply(remove_url) 
df["All_Reviews"] = df["All_Reviews"].apply(remove_white_space)
df["All_Reviews"] = df["All_Reviews"].apply(remove_punc)
df["All_Reviews"] = df["All_Reviews"].apply(remove_emoji)

In [12]:
df.head(5)

,Product Name,All_Reviews
0,"Apple iPhone 15 (Black, 128 GB)",the camera quality is exceptional capturing de...
1,"Apple iPhone 15 (Pink, 128 GB)",the camera quality is exceptional capturing de...
2,"Apple iPhone 15 (Green, 128 GB)",the camera quality is exceptional capturing de...
3,"Apple iPhone 15 (Blue, 128 GB)",the camera quality is exceptional capturing de...
4,"Apple iPhone 15 Plus (Blue, 128 GB)",48mp main camera captures detailed and vibrant...

In [13]:
import pandas as pd
import re
import string
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob


# Function to correct spelling using TextBlob
# def correct_spelling_with_textblob(text):
#     blob = TextBlob(text)
#     return blob.correct()
    
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    return ' '.join([word for word in text.split() if word not in stop_words])

# # 4. Tokenization (split the text into individual words)
# def tokenize_text(text):
#     tokens = text.split()
#     return tokens
    

# 6. Lemmatization
def lemmatization(text):
    lemmatizer = WordNetLemmatizer()
    return ' '.join([lemmatizer.lemmatize(word,pos='v') for word in text.split()])


df['All_Reviews'] = df['All_Reviews'].apply(remove_stopwords)
# df['All_Reviews'] = df['All_Reviews'].apply(tokenize_text)
df['All_Reviews'] = df['All_Reviews'].apply(lemmatization)

In [14]:
df['All_Reviews'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4877 entries, 0 to 4876
Series name: All_Reviews
Non-Null Count  Dtype
--------------  -----
4877 non-null   object
dtypes: object(1)
memory usage: 38.2+ KB

In [15]:
df.sample(10)

,Product Name,All_Reviews
3270,"realme 12+ 5G (Pioneer Green, 128 GB)",camera 55 sony sensor work great selfi camera ...
4256,"Mi 11X Pro 5G (Lunar White, 128 GB)",error one year usage family impress battery ch...
4396,"Tecno Spark 30C (Midnight Shadow, 128 GB)",na na na na na
933,"Infinix GT 20 Pro (Mecha Orange, 256 GB)",error smart give mecha feel battery easily las...
1625,KARBONN Smart A2 (Black),
783,"Huawei P9 (Titanium Grey, 32 GB)",na na na na performance phone nice mark ram ma...
3483,"realme 8s 5G (Universe Purple, 128 GB)",battery 5000mahn3 dont add bloatware appsn4 re...
1750,LAVA A1 josh Bol,mobile camera buy mobilenmy office allow smart...
4151,"REDMI Note 12 Pro+ 5G (Iceberg Blue, 256 GB)",like redmi 10 max pronthe camera alone far bet...
4083,"REDMI Note 10 Pro (Vintage Bronze, 128 GB)",nice mobile camera quality superb price range ...

In [17]:
from transformers import pipeline

# Initialize the sentiment-analysis pipeline with truncation and padding
sentiment_analyzer = pipeline('sentiment-analysis', truncation=True, padding=True, max_length=512)

# Apply sentiment analysis to the reviews and include both label and score
df['Sentiment'] = df['All_Reviews'].apply(lambda x: sentiment_analyzer(x)[0])

# Split the resulting dictionary into separate 'Sentiment_Label' and 'Sentiment_Score' columns
df['Sentiment_Label'] = df['Sentiment'].apply(lambda x: x['label'])
df['Sentiment_Score'] = df['Sentiment'].apply(lambda x: x['score'])

# Drop the original 'Sentiment' column (optional)
df.drop(columns=['Sentiment'], inplace=True)

# Display the updated DataFrame

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision 714eb0f (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.

WARNING:tensorflow:From C:\Users\vyank\AppData\Local\Programs\Python\Python312\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\vyank\AppData\Local\Programs\Python\Python312\Lib\site-packages\tf_keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

All PyTorch model weights were used when initializing TFDistilBertForSequenceClassification.

All the weights of TFDistilBertForSequenceClassification were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFDistilBertForSequenceClassification for predictions without further training.

In [21]:
df.sample(10)

,Product Name,All_Reviews,Sentiment_Label,Sentiment_Score
2680,"CMF by Nothing Phone 1 (Light Green, 128 GB)",space photos videos appsnncameran50mp main cam...,POSITIVE,0.904360
1666,KARBONN K49 Rock,na na na na,NEGATIVE,0.968648
210,"Apple iPhone 14 (Blue, 128 GB)",mobile beautiful camra ultimate love camera ba...,POSITIVE,0.940633
2136,Micromax X749,call voice also greatnspeed performancencamera...,NEGATIVE,0.995988
3006,"POCO X3 (Cobalt Blue, 64 GB)",error battery drain fast perform like 4000 mh ...,NEGATIVE,0.988836
2890,"OPPO Reno10 Pro 5G (Glossy Purple, 256 GB)",camera quality good especially portrait mode s...,NEGATIVE,0.586077
2438,Nokia 2660 Flip 4G Volte Blue keypad Mobile wi...,na na na na na,NEGATIVE,0.975477
1825,LAVA Hero 1800,na,NEGATIVE,0.981083
4413,"Tecno Pova 6 Pro (Meteorite Grey, 256 GB)",na na na na na,NEGATIVE,0.975477
2995,"POCO F6 5G (Titanium, 512 GB)",worst mobile ever seenn1front camera poor like...,NEGATIVE,0.991415

In [22]:
df['All_Reviews'] = df['All_Reviews'].str.replace('na', '', regex=False)
df['All_Reviews'] = df['All_Reviews'].str.replace('error', '', regex=False)
df['All_Reviews'] = df['All_Reviews'].str.replace('NaN', '', regex=False)
df

,Product Name,All_Reviews,Sentiment_Label,Sentiment_Score
0,"Apple iPhone 15 (Black, 128 GB)",camera quality exceptiol capture detail vivid ...,POSITIVE,0.997543
1,"Apple iPhone 15 (Pink, 128 GB)",camera quality exceptiol capture detail vivid ...,POSITIVE,0.997543
2,"Apple iPhone 15 (Green, 128 GB)",camera quality exceptiol capture detail vivid ...,POSITIVE,0.997543
3,"Apple iPhone 15 (Blue, 128 GB)",camera quality exceptiol capture detail vivid ...,POSITIVE,0.997543
4,"Apple iPhone 15 Plus (Blue, 128 GB)",48mp main camera capture detail vibrant photos...,POSITIVE,0.670361
...,...,...,...,...
4872,"vivo X60 Pro (Shimmer Blue, 256 GB)",1 battery drain fast however thank fast charg...,NEGATIVE,0.916129
4873,"vivo Y11 (Mineral Blue, 32 GB)",youngstersnits good elder peoplencamera qualit...,POSITIVE,0.547250
4874,"vivo V20 SE (Aquamarine Green, 128 GB)",battery back good nice mobile work smooth bat...,NEGATIVE,0.985196
4875,"vivo V20 SE (Gravity Black, 128 GB)",battery back good nice mobile work smooth bat...,NEGATIVE,0.985196
4876,"vivo U20 (Blaze Blue, 128 GB)",,POSITIVE,0.748121

In [25]:
df['All_Reviews'] = df['All_Reviews'].replace([''], 'No reviews available for this mobile')
df['All_Reviews'] = df['All_Reviews'].fillna('No reviews available for this mobile')
df['All_Reviews'] = df['All_Reviews'].replace('', 'No reviews available for this mobile')
df['All_Reviews'] = df['All_Reviews'].str.strip()
mask = df['All_Reviews'].eq('')
df.loc[mask, 'All_Reviews'] = 'No reviews available for this mobile'
df.sample(10)

,Product Name,All_Reviews,Sentiment_Label,Sentiment_Score
2313,"Motorola g72 (Meteorite Grey, 128 GB)",camera quality need little improvement otherwi...,NEGATIVE,0.957602
1106,"Infinix Note 12 TURBO (Snowfall, 128 GB)",amoled notch design draw back back camera work...,POSITIVE,0.659600
4646,"vivo Y28e (Breeze Green, 128 GB)",light weight easy handlingprocessor also perfo...,POSITIVE,0.974835
2131,Micromax S114,No reviews available for this mobile,NEGATIVE,0.975477
3894,"REDMI 10 (Caribbean Green, 64 GB)",redmi give much mp number still camera quality...,NEGATIVE,0.997883
4733,"vivo T1X (Pearl White, 128 GB)",pricen3 camera selfie wasten4 display look lik...,NEGATIVE,0.990921
3917,"REDMI 12 5G (Moonstone Silver, 128 GB)",bakwas battery health charge slow stucks much ...,NEGATIVE,0.996825
2807,"OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)",No reviews available for this mobile,POSITIVE,0.748121
1335,"IQOO Z6 Pro 5G- 6GB (LEGION SKY, 128 GB)",No reviews available for this mobile,POSITIVE,0.748121
937,"Infinix Note 40 Pro+ 5G (Vintage Green, 256 GB)",overall experience miserable maximum time phon...,NEGATIVE,0.990580

In [26]:
mask = df['All_Reviews'].eq('No reviews available for this mobile')
df = df[~mask]
df.reset_index(drop=True, inplace=True)
df.shape

(3322, 4)

In [28]:
df_new = df[['All_Reviews','Sentiment_Label']]

In [33]:
for row in df_new['Sentiment_Label']:
  if row == 'POSITIVE':
    df_new['Sentiment_Label'].replace(row, 1, inplace=True)
  elif row == 'NEGATIVE':
    df_new['Sentiment_Label'].replace(row, 0, inplace=True)
df.head()

,Product Name,All_Reviews,Sentiment_Label,Sentiment_Score
0,"Apple iPhone 15 (Black, 128 GB)",camera quality exceptiol capture detail vivid ...,1,0.997543
1,"Apple iPhone 15 (Pink, 128 GB)",camera quality exceptiol capture detail vivid ...,1,0.997543
2,"Apple iPhone 15 (Green, 128 GB)",camera quality exceptiol capture detail vivid ...,1,0.997543
3,"Apple iPhone 15 (Blue, 128 GB)",camera quality exceptiol capture detail vivid ...,1,0.997543
4,"Apple iPhone 15 Plus (Blue, 128 GB)",48mp main camera capture detail vibrant photos...,1,0.670361

In [34]:
df_new.sample(10)

                                            All_Reviews  Sentiment_Label
2043  camera greatndisplay hdnfeel elegantncolor gre...                0
2555  amaze one battery performance good camera qual...                0
146   mobile beautiful camra ultimate love camera ba...                1
809   fast 6k mah magendisplay oknfeatures awesome a...                0
2961  good mobile costnsmooth performance offernncam...                0
1194  average phone camera goodnbut good price 8000 ...                0
2486  camera good mageable look camera orient phone ...                0
1451  poor camera phonenover hear problem overall ph...                0
244   first iphone love smooth premium performance s...                0
2515  phone good camera bad look good camera phone f...                0

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=5000)
x = tfidf.fit_transform(df['All_Reviews']).toarray()
y = df['Sentiment_Label']

In [65]:
x.shape

(3322, 5000)

In [66]:
df['Sentiment_Label'].value_counts()

Sentiment_Label
0    2424
1     898
Name: count, dtype: int64

In [67]:
# split the data into train test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7,random_state=123456)

In [68]:
from sklearn.linear_model import LogisticRegression
def create_LR_model():
    model = LogisticRegression(max_iter=1000)
    model.fit(x_train,y_train)
    return model

In [69]:
from sklearn.naive_bayes import GaussianNB
def create_NB_model():
    model = GaussianNB()
    model.fit(x_train,y_train)
    return model

In [70]:
from sklearn.neighbors import KNeighborsClassifier
def create_KNN_model():
    model = KNeighborsClassifier(n_neighbors=5)
    model.fit(x_train,y_train)
    return model

In [71]:
from sklearn.svm import SVC
def create_SVM_model():
    model = SVC()
    model.fit(x_train,y_train)
    return model

In [72]:
from sklearn.tree import DecisionTreeClassifier
def create_DT_model():
    model = DecisionTreeClassifier(max_depth=500)
    model.fit(x_train,y_train)
    return model

In [73]:
from sklearn.ensemble import RandomForestClassifier
def create_RF_model():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train,y_train)
    return model

In [74]:
from catboost import CatBoostClassifier
def create_CatBoost_model():
    model = CatBoostClassifier(logging_level='Silent')
    model.fit(x_train,y_train)
    return model

In [75]:
from sklearn.ensemble import AdaBoostClassifier
def create_Adaboost_model():
    model = AdaBoostClassifier()
    model.fit(x_train,y_train)
    return model

In [76]:
from sklearn.ensemble import GradientBoostingClassifier
def create_GB_model():
    model = GradientBoostingClassifier()
    model.fit(x_train,y_train)
    return model

In [77]:
from xgboost import XGBClassifier
def create_XGB_model():
    model = XGBClassifier()
    model.fit(x_train,y_train)
    return model

In [78]:
models = [
    ("Logistic Regression",create_LR_model(),(0,0)),
    ("Naive Bayes",create_NB_model(),(0,1)),
    ("KNN",create_KNN_model(),(1,0)),
    ("SVM",create_SVM_model(),(1,1)),
    ("Decision Tree",create_DT_model(),(2,0)),
    ("Random Forest",create_RF_model(),(2,1)),
    ("CatBoost",create_CatBoost_model(),(3,0)),
    ("Adaboost",create_Adaboost_model(),(3,1)),
    ("Gradient Boost",create_GB_model(),(4,0)),
    ("XG Boost",create_XGB_model(),(4,1))
]

In [79]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score
def evaluate_model(model):
    y_pred = model.predict(x_test)
    y_true = y_test

    cm = confusion_matrix(y_true,y_pred)
    accuracy = accuracy_score(y_true,y_pred)
    precision = precision_score(y_true,y_pred,average='micro')
    recall = recall_score(y_true,y_pred,average='micro')
    f1 = f1_score(y_true,y_pred,average='micro')

    return cm,accuracy,precision,recall,f1

In [80]:
performance_chart_data = []
for index in models:
    # y_pred = model.predict(x_test)
    y_true = y_test
    cm,accuracy,precision,recall,f1 = evaluate_model(index[1])
    performance_chart_data.append([index[0], cm,accuracy,precision,recall,f1])
    performance_chart = pd.DataFrame(performance_chart_data,
                                    columns=["Model name","Confusion Matrix","Accuracy","Precision","Recall","F1 Score"])

performance_chart

,Model name,Confusion Matrix,Accuracy,Precision,Recall,F1 Score
0,Logistic Regression,"[[728, 7], [103, 159]]",0.889669,0.889669,0.889669,0.889669
1,Naive Bayes,"[[673, 62], [56, 206]]",0.881645,0.881645,0.881645,0.881645
2,KNN,"[[724, 11], [126, 136]]",0.862588,0.862588,0.862588,0.862588
3,SVM,"[[726, 9], [64, 198]]",0.926780,0.926780,0.926780,0.926780
4,Decision Tree,"[[677, 58], [66, 196]]",0.875627,0.875627,0.875627,0.875627
5,Random Forest,"[[734, 1], [81, 181]]",0.917753,0.917753,0.917753,0.917753
6,CatBoost,"[[721, 14], [48, 214]]",0.937813,0.937813,0.937813,0.937813
7,Adaboost,"[[684, 51], [55, 207]]",0.893681,0.893681,0.893681,0.893681
8,Gradient Boost,"[[716, 19], [71, 191]]",0.909729,0.909729,0.909729,0.909729
9,XG Boost,"[[716, 19], [46, 216]]",0.934804,0.934804,0.934804,0.934804